* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f0f0f;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    background: #1b1b1b;
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 400px;
}

.currency-block {
    margin-bottom: 20px;
    position: relative;
}

.currency-block h3 {
    font-size: 16px;
    color: #f2f2f2;
    margin-bottom: 8px;
    font-weight: 500;
}

select, input {
    width: 100%;
    padding: 14px;
    border: 1px solid #333;
    border-radius: 10px;
    font-size: 16px;
    background-color: #222;
    color: #fff;
    outline: none;
    transition: border 0.3s ease;
}

select:focus, input:focus {
    border: 1px solid #ffbf00;
}

input[readonly] {
    background-color: #333;
    cursor: not-allowed;
}

#inputAmount {
    margin-bottom: 10px;
}

.exchange-icon {
    text-align: center;
    font-size: 30px;
    margin: 20px 0;
    color: #ffbf00;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.exchange-icon:hover {
    transform: rotate(180deg);
}

#exchangeRate, #thbRate {
    font-size: 14px;
    color: #ffbf00;
    margin-top: 5px;
    text-align: center;
}

button {
    padding: 12px 20px;
    background-color: #ffbf00;
    border: none;
    border-radius: 8px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9900;
}

@media screen and (max-width: 768px) {
    .calculator-container {
        padding: 20px;
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .exchange-icon {
        font-size: 24px;
    }

    button {
        padding: 10px;
    }
}
